<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="{{.Body.GoogleID}}">
    <title>{{ .Title}}</title>
    {{ range .JsHeader }}
        <script src="{{ . }}" async defer></script>
    {{end}}
    {{ range .CssHeader }}
        <link rel="stylesheet" href="{{ . }}">
    {{end}}
</head>
<body>
    <canvas id="background"></canvas>
    <div id="root"></div>
    {{ .Body.intro }}
    {{range .JsFooter}}
        <script type="text/javascript" src="{{ . }}" async defer></script>
    {{end}}
</body>
<script type="text/javascript">
    var session = {{.Body.auth}};

</script>
</html>